.connected {
  display: none;
}

.holder {
  display: none;
}

.section {
  padding: 0 10px;
}

.section-1 {
  text-align: center;
}

.section-1 h1 {
  font-size: 30px;
}

.section-1 img {
  max-width: 400px;
  width: 100%;
}

.section-1 .btn {
  display: inline-block;
  padding: 20px 40px;
  text-decoration: none;
}

@media(max-width: 767px) {
  .section-1 h1 {
    font-size: 20px;
  }
}